body {
    font-family: 'Courier New', Courier, monospace;
}

ul li:first-child {
    background-color: aqua;
}

ul li:last-child {
    background-color: blue;
}

ul li:nth-child(odd) {
    background-color: yellow;
}

ul li:nth-child(even) {
    background-color: rgb(248, 145, 145);
}

ul li:nth-child(4) {
    color: rgb(41, 238, 162);
}

ul li:nth-child(3n + 1) {
    background-color: purple; 
}

p i:only-child {
    background: black;
    color: white;
}