* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.container {
    display: flex;
}

p {
    padding: 2rem;
}

main {
    container-type: inline-size;
    container-name: Mx;
    width: 100%;
    margin: 30px auto;
    padding: 20px;
}

main p {
    background: green;
}

aside {
    container-type: inline-size;
    container-name: Ax;
    flex: 0 0 30%;
    background: orange;
    padding: 20px;
}

@container Mx (max-width: 992px) {
    main p {
        background: lightblue;
    }
}

@container Ax (max-width: 300px) {
    aside p {
        background: lightgreen;
    }
}