.box {
    width: 200px;
    height: 200px;
    background: lightblue;
    border: 1px solid black;
    margin: 10px;
}

.box-1 {
    position: static;
    /* left,right,top,bottom has no effect */
    left: 30px;
}

.box-2 {
    position: relative;
    left: 30px;
    bottom: 20px;
}

.box-3 {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}

.box-4 {
    /* fixed + relative */
    position: sticky;
    top: 100px;
    z-index: 2;
}

.box-5 {
    position: relative;
    width: 100px;
    height: 100px;
    background: orange;
}

.box-6 {
    position: absolute;
    top: 120px;
    right: 20px;
}

.box-7 {
    position: fixed;
    background-color: brown;
    top: 0;
    right: 10px;
}