* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600px;
    line-height: 1.6;
    background-color: #27264b;
    color: #433f63;
}

.main {
    max-width: 1100px;
    background-color: #f8fafe;
    margin: 0 auto;
    margin-top: 90px;
    padding: 70px 50px;
    border-radius: 10px;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    flex-basis: 300px;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
    background-color: #f8fafa;
    padding: 10px;
    /* border: 1px solid red; */
}

h2.pro{
    background:linear-gradient(to right,rgba(194,227,255,1)20%,rgba(180,118,254,1)80%);
    color: white;
}

h2.enterprise {
    background:linear-gradient(to right,rgba(253,194,225,1)20%,rgba(245,204,118,1)80%);
    color: white;
}

.price {
    font-size: 40px;
    font-weight: 700;
    margin-top: 55px;
    margin-bottom: 18px;
}

sup {
    font-size: 20px;
    position: relative;
    left: -5px;
    top: -5px;
}

span.month {
    font-size: 18px;
    margin-left: 3px;
}

p strong {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
}

.desc {
    height: 40px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}

.btn {
    display: block;
    background-color: #fff;
    border: 1px solid#27264b;
    color: #27264b;
    text-decoration: none;
    border-radius: 5px;
    padding: 15px;
    margin-top: 45px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    background: black;
    color: white;
}

.pro ~ .btn {
    background-color: black;
    color: white;
}

.pro ~ .btn:hover {
    background-color: white;
    color: black;
}

ul {
    margin-top: 40px;
    list-style-type: none;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
}

i {
    color: green;
    margin-right: 10px;
}
